<div class="atm-shell">
  <!-- HEADER -->
  <div class="atm-header">
    <div class="atm-logo">
      <span class="atm-logo-icon">🏧</span>
      <span>Sistema de Cajeros</span>
    </div>

    <div class="atm-session">
      <span class="atm-session-dot"></span>
      <span>En línea</span>
    </div>
  </div>

  <!-- LOADING -->
  <div *ngIf="cargando" class="atm-screen atm-screen--center">
    <div class="spinner"></div>

    <div class="procesando-text">Cargando cajeros...</div>

    <div class="procesando-sub">Espere un momento</div>
  </div>

  <!-- ERROR -->
  <div *ngIf="error" class="atm-screen">
    <div class="error-mensaje">
      {{ error }}
    </div>
  </div>

  <!-- LISTA DE CAJEROS -->
  <div *ngIf="!cargando && cajeros.length > 0" class="atm-grid">
    <div
      class="atm-screen atm-card"
      *ngFor="let cajero of cajeros"
      (click)="seleccionarCajero(cajero)"
      [ngClass]="{
        'atm-disponible': cajero.total >= 5000,
        'atm-poco': cajero.total > 0 && cajero.total < 5000,
        'atm-vacio': cajero.total <= 0,
      }"
    >
      <div class="resultado-header">
        <div [class]="obtenerClaseEstado(cajero.total || 0)">$</div>

        <div>
          <h2 class="resultado-titulo">Cajero #{{ cajero.idCajero }}</h2>

          <p>
            {{ obtenerEstado(cajero.total || 0) }}
          </p>
        </div>
      </div>

      <div class="comprobante">
        <div class="comprobante-row">
          <span class="comp-label">ID</span>

          <span class="comp-value">
            {{ cajero.idCajero }}
          </span>
        </div>

        <div class="comprobante-row">
          <span class="comp-label">Ubicación</span>

          <span class="comp-value">
            {{ cajero.ubicacion || 'Sin ubicación' }}
          </span>
        </div>

        <div class="comprobante-row">
          <span class="comp-label">Dinero disponible</span>

          <span class="comp-value"> $ {{ cajero.total | number }} </span>
        </div>

        <div class="comprobante-row">
          <span class="comp-label">Estado</span>

          <span
            class="comp-value"
            [style.color]="
              cajero.total <= 0 ? '#e74c3c' : cajero.total < 5000 ? '#f39c12' : '#2ecc71'
            "
          >
            {{ obtenerEstado(cajero.total) }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- SIN DATOS -->
  <div *ngIf="!cargando && cajeros.length === 0" class="atm-screen atm-screen--center">
    <h2 class="screen-title">No hay cajeros disponibles</h2>
  </div>

  <!-- FOOTER -->
  <div class="atm-footer">
    <span>ATM SYSTEM</span>
    <span>•</span>
    <span>Monitor de Cajeros</span>
  </div>
</div>
