<div class="login-container">
  <h2><i class="fa-solid fa-shield-halved"></i> Iniciar Sesión</h2>
  
  @if (cajero) {
    <div class="cajero-badge">
      <div class="cajero-header">
        <span class="dot" [class.online]="cajero.estado === 'Activo'"></span>
        <h3><i class="fa-solid fa-atm"></i> Cajero: {{ cajero.idCajero }}</h3>
      </div>
      <p class="cajero-ubi">
        <i class="fa-solid fa-location-dot"></i> {{ cajero.ubicacion || 'Ubicación no especificada' }}
      </p>
    </div>
  }

  <form #loginForm="ngForm" (ngSubmit)="iniciarSesion()" autocomplete="off">
    
    <div
      class="campo"
      [class.has-error]="tarjetaInput.invalid && (tarjetaInput.dirty || tarjetaInput.touched)"
    >
      <label for="numTarjeta"><i class="fa-solid fa-credit-card"></i> Número de tarjeta</label>
      <input
        id="numTarjeta"
        type="text"
        name="numTarjeta"
        [(ngModel)]="numTarjeta"
        #tarjetaInput="ngModel"
        (keypress)="soloNumeros($event)"
        maxlength="20"
        minlength="20"
        pattern="^[0-9]{20}$"
        placeholder="0000 0000 0000 0000 0000"
        required
      />
      @if (tarjetaInput.invalid && (tarjetaInput.dirty || tarjetaInput.touched)) {
        <span class="error-msg">
          <i class="fa-solid fa-circle-xmark"></i> Debe contener exactamente 20 dígitos numéricos.
        </span>
      }
    </div>

    <div class="campo" [class.has-error]="pinInput.invalid && (pinInput.dirty || pinInput.touched)">
      <label for="pin"><i class="fa-solid fa-key"></i> PIN Secreto</label>
      <input
        id="pin"
        type="password"
        name="pin"
        [(ngModel)]="pin"
        #pinInput="ngModel"
        (keypress)="soloNumeros($event)"
        maxlength="4"
        minlength="4"
        pattern="^[0-9]{4}$"
        placeholder="••••"
        required
      />
      @if (pinInput.invalid && (pinInput.dirty || pinInput.touched)) {
        <span class="error-msg">
          <i class="fa-solid fa-circle-xmark"></i> El PIN debe ser de exactamente 4 números.
        </span>
      }
    </div>

    <div class="form-actions">
      <button type="button" class="btn-volver" (click)="volver()">
        <i class="fa-solid fa-arrow-left"></i> Volver
      </button>
      
      <button type="submit" [disabled]="loginForm.invalid">
        <i class="fa-solid fa-lock-open"></i> Ingresar de forma segura
      </button>
    </div>
  </form>
</div>